@media screen and (max-width: 1205px) {
    header {
        display: flex;
        justify-content: flex-end;
    }

    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    .menu-btn span {


        display: block;
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        transition: all 0.5s;
    }

    .menu-btn span:nth-of-type(2) {

        top: calc(50% - 5px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }


    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #161616;
        opacity: 100%;
        transform: translateX(100%);
        transition: transform 0.5s;
        display: block;
        opacity: 50%;
    }

    .menu nav ul li{
        opacity: 100%;
        margin-top: 10px;
    }


    .menu .flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        align-items: start;
    }

    
    .menu.active {
        transform: translateX(0);
    }

    .menu li {
        list-style-type: none;
    }

    /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }






    .none {
        display: none;
    }

    .container {
        width: 400px;
        margin: 0 auto;
    }


    .first h1 {
        margin-top: 400px;
        font-weight: 700;
        font-size: 30px;
    }

    .first p {
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        margin-top: 35px;
    }

    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .btn button {
        margin-top: 20px;
        background: #FED3A1;
        border-radius: 15px;
        align-items: center;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        padding: 15px 70px;
        color: #000000;
    }

    .qwerqwer {
        padding-top: 100px;
        font-weight: 700;
        font-size: 30px;
    }

    .plot p {
        margin-top: 35px;
        font-weight: 700;
        font-size: 15px;
    }

    .plot img {
        margin-top: 40px;
        margin-bottom: 95px;
        width: 100%;
        height: auto;
    }

    .Gameplay .container .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 40px;
    }

    .Gameplay .flex div {
        background: rgba(0, 0, 0, 0.35);
        font-weight: 700;
        font-size: 15px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 230px;
        padding: 20px;
        line-height: 159%;
        text-indent: 60px;
        width: 100%;
    }

    .Gameplay .flex div p:nth-child(2) {
        margin-top: 25px;
    }


    .wurdalak {
        width: 100%;
        height: auto;

    }

    .f1 {
        display: none;
    }

    .mffrdh {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bigWurd {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .textWurd {
        font-weight: 700;
        font-size: 15px;
        line-height: 159%;
        text-indent: 50px;
        padding: 10px 30px;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .textWurd p:nth-child(1) {
        margin-top: 0px;
    }


    .flex3 {
        padding-top: 35px;
        display: flex;
        width: 50%;
        height: auto;
        justify-content: space-between;
    }

    .flex4 {
        display: none;
    }

    .flexX {
        margin-top: 10px;
        justify-content: flex-end;
    }


    .flexX img {
        width: 30%;
        height: auto;
    }

    .flexX .imgEnd {
        width: 30%;
        height: auto;
    }

    .footer button {
        background: #FFFFFF;
        border-radius: 23px;
        padding: 10px 0px;
        width: 120px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 10px;
    }


    .flex3 {
        padding-top: 15px;
        display: flex;
        width: 50px;
        justify-content: space-between;
    }

    .flex3 img {
        margin-right: 11px;
    }

    .fffffff {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

}



@media screen and (max-width: 550px) {

    .container {
        width: 270px;
        margin: 0 auto;
    }


    .first h1 {
        margin-top: 400px;
        font-weight: 700;
        font-size: 20px;
    }

    .first p {
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        margin-top: 35px;
    }



    .btn button {
        margin-top: 30px;
        background: #FED3A1;
        border-radius: 15px;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        padding: 15px 50px;
        color: #000000;
    }

    .Gameplay .flex div {
        background: rgba(0, 0, 0, 0.35);
        font-weight: 700;
        font-size: 13px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: auto;
        padding: 20px;
        line-height: 159%;
        text-indent: 60px;
        width: 100%;
    }


}