:root {
    --main-color: #ffffff;
}

button {
    cursor: pointer;
}


.header {
    display: none;
}

h1,
h2,
h3,
h4,
p,
a {
    color: var(--main-color)
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





.container {
    width: 1205px;
    margin: 0 auto;
    /*делаем по центру объект*/
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #131313;
    width: 100%;

}

header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

header ul a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

nav {
    width: 500px;
}

.first {
    width: 100%;
    height: 840px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 69.27%, #000000 100%), url(../img/fon1.png), no-repeat;

}

.first .flex2 {

    height: 347px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.first p {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-top: 70px;
}

.first h1 {
    margin-top: 400px;
    font-weight: 700;
    font-size: 50px;
}

.btn button {
    margin-top: 50px;
    background: #FED3A1;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 100px;
    color: #000000;
}

.btn .download {
    background: #EFB97B;
}

.btn .download:hover {
    background: #a37e53;
}


.btn button:hover {
    background: #c26d0d;
}

.btn .download:active {
    background: #eeae65;
}

.btn button:active {
    background: #f39931;
}


.plot {

    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.58%, #000000 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 30.73%), url(../img/fon2.png), no-repeat;
}

.qwerqwer {
    padding-top: 100px;
    font-weight: 700;
    font-size: 44px;
}

.plot p {
    text-indent: 40px;

    margin-top: 35px;
    font-weight: 700;
    font-size: 25px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plot img {

    margin-top: 80px;
    margin-bottom: 95px;

}

.Gameplay {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.58%, #000000 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 30.73%), url(../img/fon3.png), no-repeat;
    padding-bottom: 200px;
}

.Gameplay .flex div {
    background: rgba(0, 0, 0, 0.35);
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
    height: 412px;
    padding: 20px;
    line-height: 159%;
    text-indent: 60px;
}

.Gameplay .flex div p:nth-child(2) {
    margin-top: 50px;
}

.Gameplay .flex {
    margin-top: 80px;
}

footer .Characters {

    width: 100%;
    background: url(../img/fon4.png), no-repeat;
}

footer h2 {
    font-weight: 700;
    font-size: 40px;
    padding-top: 85px;
}

footer .Characters .flex:nth-child(1n) {
    margin-top: 70px;
    justify-content: start;
}


footer .Characters .f1 img {
    margin-right: 50px;
    background: rgba(0, 0, 0, 0.35);
    padding: 6px;
    cursor: pointer;
}

footer .Characters .f1 img:hover {
    box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.75);
}

.bigWurd {
    padding: 4px 6px 13px 6px;

    background: rgba(0, 0, 0, 0.35);
    margin-right: 100px;
}

.textWurd {
    background: rgba(0, 0, 0, 0.35);
    font-weight: 700;
    font-size: 25px;
    line-height: 159%;
    text-indent: 50px;
    padding: 10px 30px;
    width: 762.4px;
    height: 382px;
}

.textWurd p:nth-child(1) {
    margin-top: 70px;
}

.footer {
    background: rgba(0, 0, 0, 0.55);
}

.flex3 {
    padding-top: 35px;
    display: flex;
    width: 126.59px;
    justify-content: space-between;
}

.flex4 {
    margin-top: 35px;
    display: flex;
    width: 411.93px;
    justify-content: space-between;
}

.footer button {
    background: #FFFFFF;
    border-radius: 23px;
    padding: 15px 0px;
    width: 188.89px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 14px;
}

.fffffff {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexX {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flexX img {
    width: 168px;
    height: auto;
}

.flexX  .imgEnd {
    width: 368.74px;
    height: 80.16px;
}

.footer {
    margin-top: 151px;
}


















@media screen and (max-width: 1205px) {
    header {
        display: flex;
        justify-content: flex-end;
    }

    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    .menu-btn span {


        display: block;
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        transition: all 0.5s;
    }

    .menu-btn span:nth-of-type(2) {

        top: calc(50% - 5px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }


    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #161616;
        opacity: 100%;
        transform: translateX(100%);
        transition: transform 0.5s;
        display: block;
        opacity: 50%;
    }

    .menu nav ul li{
        opacity: 100%;
        margin-top: 10px;
    }


    .menu .flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        align-items: start;
    }

    
    .menu.active {
        transform: translateX(0);
    }

    .menu li {
        list-style-type: none;
    }

    /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }






    .none {
        display: none;
    }

    .container {
        width: 400px;
        margin: 0 auto;
    }


    .first h1 {
        margin-top: 400px;
        font-weight: 700;
        font-size: 30px;
    }

    .first p {
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        margin-top: 35px;
    }

    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .btn button {
        margin-top: 20px;
        background: #FED3A1;
        border-radius: 15px;
        align-items: center;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        padding: 15px 70px;
        color: #000000;
    }

    .qwerqwer {
        padding-top: 100px;
        font-weight: 700;
        font-size: 30px;
    }

    .plot p {
        margin-top: 35px;
        font-weight: 700;
        font-size: 15px;
    }

    .plot img {
        margin-top: 40px;
        margin-bottom: 95px;
        width: 100%;
        height: auto;
    }

    .Gameplay .container .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 40px;
    }

    .Gameplay .flex div {
        background: rgba(0, 0, 0, 0.35);
        font-weight: 700;
        font-size: 15px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 230px;
        padding: 20px;
        line-height: 159%;
        text-indent: 60px;
        width: 100%;
    }

    .Gameplay .flex div p:nth-child(2) {
        margin-top: 25px;
    }


    .wurdalak {
        width: 100%;
        height: auto;

    }

    .f1 {
        display: none;
    }

    .mffrdh {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bigWurd {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .textWurd {
        font-weight: 700;
        font-size: 15px;
        line-height: 159%;
        text-indent: 50px;
        padding: 10px 30px;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .textWurd p:nth-child(1) {
        margin-top: 0px;
    }


    .flex3 {
        padding-top: 35px;
        display: flex;
        width: 50%;
        height: auto;
        justify-content: space-between;
    }

    .flex4 {
        display: none;
    }

    .flexX {
        margin-top: 10px;
        justify-content: flex-end;
    }


    .flexX img {
        width: 30%;
        height: auto;
    }

    .flexX .imgEnd {
        width: 30%;
        height: auto;
    }

    .footer button {
        background: #FFFFFF;
        border-radius: 23px;
        padding: 10px 0px;
        width: 120px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 10px;
    }


    .flex3 {
        padding-top: 15px;
        display: flex;
        width: 50px;
        justify-content: space-between;
    }

    .flex3 img {
        margin-right: 11px;
    }

    .fffffff {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

}



@media screen and (max-width: 550px) {

    .container {
        width: 270px;
        margin: 0 auto;
    }


    .first h1 {
        margin-top: 400px;
        font-weight: 700;
        font-size: 20px;
    }

    .first p {
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        margin-top: 35px;
    }



    .btn button {
        margin-top: 30px;
        background: #FED3A1;
        border-radius: 15px;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        padding: 15px 50px;
        color: #000000;
    }

    .Gameplay .flex div {
        background: rgba(0, 0, 0, 0.35);
        font-weight: 700;
        font-size: 13px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: auto;
        padding: 20px;
        line-height: 159%;
        text-indent: 60px;
        width: 100%;
    }


}